<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" th:src="@{/js/angular.min.js}"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<link rel="stylesheet" th:href="@{/css/weui.css}"/>
		<style type="text/css">
		 .weui_media_info_meta img{
		 	display:inline-block; vertical-align:middle; margin: 0 5px 0 10px;
		 }
		 .weui_media_info_meta span{
		 	vertical-align:middle;
		 }
		</style>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function disagreeOrAgreeAnswer(answerId, ele, type){
			$.ajax({
				url:[[@{/wechat/expert/answer/agree}]],
				type: "POST",
				data:{
					"type": type,
					"answerId": answerId
				},
				dataType:"json",
				success: function(data){
					showToast();
					$(ele).siblings("span.useful").text("["+data.usefulCounts+"]");
					$(ele).siblings("span.unuseful").text("["+data.unusefulCounts+"]");
				}
			})
		}
		function agreeAnswer(answerId, ele){
			disagreeOrAgreeAnswer(answerId, ele, "agree")
		}
		function disagreeAnswer(answerId, ele){
			disagreeOrAgreeAnswer(answerId, ele, "disagree")
		}
		function showToast() {
            var $toast = $('#toast');
			if ($toast.css('display') != 'none') {
				return;
			}
			$toast.show();
			setTimeout(function () {
				$toast.hide();
			}, 1500);
        }
		function showLoadingToast() {
            var $loadingToast = $('#loadingToast');
            if ($loadingToast.css('display') != 'none') {
                return;
            }

            $loadingToast.show();
            /*setTimeout(function () {
                $loadingToast.hide();
            }, 2000);*/
        }
		function showDialog(content){
			var $dialog = $('#dialog');
            $dialog.show();
            $dialog.find(".weui_dialog_bd").html(content);
            $dialog.find('.weui_btn_dialog').one('click', function () {
                $dialog.hide();
            });
	    }
		
		$(document).ready(function(){
			$(".best_answer").click(function(){
				var form = $(this).parent("form")[0];
				var $dialog = $('#best_answer_dialog');
                $dialog.show();
				$dialog.find('.weui_btn_dialog').one('click', function () {
					$dialog.hide();
					if($(this).hasClass("primary")){
						showLoadingToast();
						form.submit();
					}
				});
			});
			
			$("form#answer_form").submit(function(){
			    if(!$("#content").val()){
			    	showDialog("内容不能为空");
			    	return false;
			    }
			    if($("#content").val().length>200){
			    	showDialog("内容字数超过200");
			    	return false;
			    }
			    showLoadingToast();
			 });
		});
		/*]]>*/
		</script>
	</head>
	<body>
		<div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd" th:text="${'问题：'+question.title}"></div>
            <div class="weui_panel_bd">
                <div class="weui_media_box weui_media_text">
                    <p class="weui_media_desc" style="display:inline;" th:text="${question.content}">问题描述</p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta" th:text="${#calendars.format(question.createTime,'yyyy-MM-dd HH:mm:ss')}">文字来源</li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra" th:text="${'共有'+question.answers.size()+'个答案'}">文字来源</li>
                    </ul>
                </div>
                <a href="javascript:void(0);" th:href="@{/wechat/expert/user(userId=${question.proposer.userId})}" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" th:src="${question.proposer.imageUrl}" height="60" width="60"/>
					</div>
                    <div class="weui_media_bd">
                        <p class="weui_media_desc" th:text="${question.proposer.name}"></p>
                        <p class="weui_media_desc" th:text="${question.proposer.department}"></p>
                        <p class="weui_media_desc" th:text="${question.proposer.position}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui_panel weui_panel_access" th:if="${question.recognizedAnswerId!=null}">
        	<div class="weui_panel_hd" >已有答案被采纳，问题自动关闭</div>
        </div>
        <form action="" th:action="@{/wechat/expert/user(userId=${user.userId})}" method="POST" id="answer_form" th:if="${question.recognizedAnswerId==null and session['wechat.userId'] != question.proposer.userId }" >
        	<input type="hidden" name="questionId" th:value="${question.id}"></input>
			<div class="weui_cells weui_cells_form">
					<div class="weui_cell">
						<div class="weui_cell_bd weui_cell_primary" >
							<textarea class="weui_textarea" placeholder="请输入答案" rows="4" id="content" name="content"></textarea>
							<div class="weui_textarea_counter"><span>0</span>/200</div>
						</div>
					</div>
			</div>
			<div class="weui_btn_area">
				<button type="submit" class="weui_btn weui_btn_primary">提交答案</button>	
	        </div>
		</form>
        <div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd" th:text="${'共有'+question.answers.size()+'个答案'}">共有0个答案</div>
            <div class="weui_panel_bd" th:each="answer : ${question.answers}" th:if="${question.recognizedAnswerId!=null and answer.id == question.recognizedAnswerId}">
                <a href="javascript:void(0);" th:href="@{/wechat/expert/user(userId=${answer.answerer.userId})}" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" th:src="${answer.answerer.imageUrl}" height="60" width="60"/>
					</div>
                    <div class="weui_media_bd">
                        <p class="weui_media_desc" th:text="${answer.answerer.name}"></p>
                        <p class="weui_media_desc" th:text="${answer.answerer.department}"></p>
                        <p class="weui_media_desc" th:text="${answer.answerer.position}"></p>
                    </div>
	                <div class="weui_media_hd" th:switch="${question.recognizedAnswerId}">
						<img class="weui_media_appmsg_thumb" th:src="@{/img/expert/best-answer-2.jpg}" height="60" width="60"/>
					</div>
                </a>
                <div class="weui_media_box weui_media_text">
                    <p class="weui_media_desc" style="display:inline;" th:text="${answer.content}">问题答案</p>
                    <ul class="weui_media_info" style="vertical-align: middle;">
                        <li class="weui_media_info_meta" >
                        	<span th:text="${#calendars.format(answer.createTime,'yyyy-MM-dd HH:mm:ss')}">2016-01-01 00:00:00</span>
                        	<img class="weui_media_appmsg_thumb agree_answer" th:onclick="'agreeAnswer(\''+${answer.id}+'\',this)'" th:src="@{/img/expert/up.jpg}" height="20" width="20"/>
                        	<span class="useful" style="vertical-align:middle;" th:text="${'['+answer.markUsefulUserIds.size()+']'}">[100]</span>
                        	<img class="weui_media_appmsg_thumb disagree_answer" th:onclick="'disagreeAnswer(\''+${answer.id}+'\',this)'" th:src="@{/img/expert/down.jpg}" height="20" width="20"/>
                        	<span class="unuseful" th:text="${'['+answer.markUnusefulUserIds.size()+']'}">[20]</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="weui_panel_bd" th:each="answer : ${question.answers}" th:if="${question.recognizedAnswerId==null or answer.id != question.recognizedAnswerId}">
                <a href="javascript:void(0);" th:href="@{/wechat/expert/user(userId=${answer.answerer.userId})}" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" th:src="${answer.answerer.imageUrl}" height="60" width="60"/>
					</div>
                    <div class="weui_media_bd">
                        <p class="weui_media_desc" th:text="${answer.answerer.name}"></p>
                        <p class="weui_media_desc" th:text="${answer.answerer.department}"></p>
                        <p class="weui_media_desc" th:text="${answer.answerer.position}"></p>
                    </div>
	                <div class="weui_media_hd" th:if="${question.recognizedAnswerId==null and session['wechat.userId'] == question.proposer.userId }">
	                	<form action="" th:action="@{/wechat/expert/question/answer/best}" method="POST">
							<input type="hidden" name="questionId" th:value="${question.id}"></input>
							<input type="hidden" name="answerId" th:value="${answer.id}"></input>
							<img class="weui_media_appmsg_thumb best_answer" th:src="@{/img/expert/best-answer-1.jpg}" height="60" width="60"/>
	                	</form>
					</div>
                </a>
                <div class="weui_media_box weui_media_text">
                    <p class="weui_media_desc" style="display:inline;" th:text="${answer.content}">问题答案</p>
                    <ul class="weui_media_info" style="vertical-align: middle;">
                        <li class="weui_media_info_meta" >
                        	<span th:text="${#calendars.format(answer.createTime,'yyyy-MM-dd HH:mm:ss')}">2016-01-01 00:00:00</span>
                        	<img class="weui_media_appmsg_thumb agree_answer" th:onclick="'agreeAnswer(\''+${answer.id}+'\',this)'" th:src="@{/img/expert/up.jpg}" height="20" width="20"/>
                        	<span class="useful" style="vertical-align:middle;" th:text="${'['+answer.markUsefulUserIds.size()+']'}">[100]</span>
                        	<img class="weui_media_appmsg_thumb disagree_answer" th:onclick="'disagreeAnswer(\''+${answer.id}+'\',this)'" th:src="@{/img/expert/down.jpg}" height="20" width="20"/>
                        	<span class="unuseful" th:text="${'['+answer.markUnusefulUserIds.size()+']'}">[20]</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="weui_dialog_alert" id="dialog" style="display: none;">
	        <div class="weui_mask"></div>
	        <div class="weui_dialog">
	            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提醒</strong></div>
	            <div class="weui_dialog_bd"></div>
	            <div class="weui_dialog_ft">
	                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
	            </div>
	        </div>
	    </div>
        <div class="weui_dialog_alert" id="best_answer_dialog" style="display: none;">
	        <div class="weui_mask"></div>
	        <div class="weui_dialog">
	            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提醒</strong></div>
	            <div class="weui_dialog_bd">是否设置答案为最佳答案？采纳后，问题将自动关闭</div>
	            <div class="weui_dialog_ft">
	            	<a href="javascript:;" class="weui_btn_dialog default">取消</a>
	                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
	            </div>
	        </div>
	    </div>
		<div id="toast" style="display: none;">
			<div class="weui_mask_transparent"></div>
			<div class="weui_toast">
				<i class="weui_icon_toast"></i>
				<p class="weui_toast_content">操作完成</p>
			</div>
		</div>

		<div id="loadingToast" class="weui_loading_toast" style="display: none;">
			<div class="weui_mask_transparent"></div>
			<div class="weui_toast">
				<div class="weui_loading">
					<div class="weui_loading_leaf weui_loading_leaf_0"></div>
					<div class="weui_loading_leaf weui_loading_leaf_1"></div>
					<div class="weui_loading_leaf weui_loading_leaf_2"></div>
					<div class="weui_loading_leaf weui_loading_leaf_3"></div>
					<div class="weui_loading_leaf weui_loading_leaf_4"></div>
					<div class="weui_loading_leaf weui_loading_leaf_5"></div>
					<div class="weui_loading_leaf weui_loading_leaf_6"></div>
					<div class="weui_loading_leaf weui_loading_leaf_7"></div>
					<div class="weui_loading_leaf weui_loading_leaf_8"></div>
					<div class="weui_loading_leaf weui_loading_leaf_9"></div>
					<div class="weui_loading_leaf weui_loading_leaf_10"></div>
					<div class="weui_loading_leaf weui_loading_leaf_11"></div>
				</div>
				<p class="weui_toast_content">操作进行中</p>
			</div>
		</div>
	</body>
</html>
