<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" th:src="@{/js/angular.min.js}"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<link rel="stylesheet" th:href="@{/css/weui.css}"/>
	</head>
	<body>
		<div class="weui_panel weui_panel_access">
			<div class="weui_panel_hd" th:text="${'技能列表('+ skills.size()+ '项技能)'}">技能列表</div>
			<div class="weui_panel_ft weui_panel_bd" th:each="skill : ${skills}">
				<a th:href="@{/wechat/expert/users(skillId=${skill.id})}" href="javascript:void(0);" class="weui_media_box">
					<h4 class="weui_media_title" th:text="${'【'+skill.category + '】 ' + skill.name}">名称</h4>
                   	<p class="weui_media_desc" th:text="${skill.description}">描述</p>
				</a>
			</div>
		</div>
	</body>
</html>
