<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=0" />
<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
<script type="text/javascript"
	src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" th:href="@{/css/weui.css}" />
</head>
<body>
	<form th:action="@{/wechat/bind}" method="POST">
		<input type="hidden" name="openId" th:value="${openId}"/>
		<div class="weui_cells_title">输入要绑定的Email</div>
		<div class="weui_cells weui_cells_form">
			<div class="weui_cell weui_cell_select weui_select_after">
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" name="emailPrefix" type="text" placeholder="请输入邮箱" />
				</div>
				<div class="weui_cell_hd">
					<select class="weui_select" name="emailSufix">
						<option value="@derbysoft.com">@derbysoft.com</option>
						<option value="@derbysoft.net">@derbysoft.net</option>
					</select>
				</div>
			</div>
		</div>
		<button type="submit" class="weui_btn weui_btn_primary">提交</button>
	</form>
</body>
</html>