<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" th:src="@{/js/angular.min.js}"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<link rel="stylesheet" th:href="@{/css/weui.css}"/>
	</head>
	<body>
		<div class="weui_panel weui_panel_access">
			<div class="weui_panel_hd">基本信息</div>
			<div class="weui_panel_bd">
				<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
					<div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" th:src="${user.imageUrl}" height="80" width="80"/>
					</div>
					<div class="weui_media_bd">
						<h4 class="weui_media_title" th:text="${user.name}">姓名</h4>
						<p class="weui_media_desc" th:text="${user.department}">部门</p>
					</div>
				</a>
				<div>
					<span th:each="medal : ${medals}">
						<img th:src="@{'/img/medal/'+${medal.icon}}"/>
					</span>
				</div>
			</div>
			<div class="page" id="more_profile" style="display: none;">
				<div class="bd">
					<div class="weui_cells">
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<p>微信名</p>
							</div>
							<div class="weui_cell_ft" th:text="${user.nickName}">NickName</div>
						</div>
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<p>性别</p>
							</div>
							<div class="weui_cell_ft" th:text="${user.sex}">Male</div>
						</div>
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<p>Email</p>
							</div>
							<div class="weui_cell_ft" th:text="${user.email}">unknown@unknown.com</div>
						</div>
						<div class="weui_cell">
							<div class="weui_cell_bd weui_cell_primary">
								<p>生日</p>
							</div>
							<div class="weui_cell_ft" th:text="${user.birthday}">${user.birthday}</div>
						</div>
					</div>
				</div>
			</div>
			<a class="weui_panel_ft weui_cell" href="javascript:$('#more_profile').toggle();">查看更多</a>
		</div>
		<div class="weui_panel weui_panel_access">
			<form action="" th:action="@{/wechat/profile}" method="POST">
				<div class="weui_panel_hd">Get到的技能</div>
				<div class="weui_panel_bd">
					<div class="weui_media_box weui_media_text weui_cell_switch" th:each="userSkill : ${user.skills}">
						<h4 class="weui_media_title" th:text="${userSkill.skill.name}">技能名称</h4>
						<p class="weui_media_desc" th:text="${userSkill.skill.description}">技能描述</p>
						<div class="weui_cell_ft skill_edit" style="display: none;">
		                    <input class="weui_switch" type="checkbox" th:checked="true" name="skills" th:value="${userSkill.skill.id}" />
		                </div>
		                <div class="weui_cell_ft skill_point" >
		                    <i class="weui_icon_success_circle" onclick="javascript:$(this).toggle();$(this).siblings().toggle();"></i>
		                    <i class="weui_icon_success" style="display: none;" onclick="javascript:$(this).toggle();$(this).siblings().toggle();"></i>
		                </div>
						<ul class="weui_media_info skill_point" th:if="${userSkill.point} gt 0">
							<li class="weui_media_info_meta" th:each="item : ${#numbers.sequence(1,userSkill.point)}" style="size: 25px;">★</li>
						</ul>
					</div>
					<div class="weui_media_box weui_media_text weui_cell_switch other_skills" th:each="skill : ${skills}" style="display: none;">
						<h4 class="weui_media_title" th:text="${skill.name}">技能名称</h4>
						<p class="weui_media_desc" th:text="${skill.description}">技能描述</p>
						<div class="weui_cell_ft skill_edit" style="display: none;">
		                    <input class="weui_switch" type="checkbox" th:checked="false" name="skills" th:value="${skill.id}" />
		                </div>
					</div>
				</div>
				<button type="submit" class="weui_btn weui_btn_primary skill_submit" style="display: none;">提交</button>
				<a class="weui_panel_ft weui_cell" href="javascript:$('.skill_edit').toggle();$('.skill_point').toggle();$('.other_skills').toggle();$('.skill_submit').toggle();" th:if="${user.userId} == ${session['wechat.userId']}">编辑</a>
			</form>
		</div>
	</body>
</html>
