<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" th:src="@{/js/date-util.js}"/>
		<script type="text/javascript" th:src="@{/js/angular.min.js}"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<script type="text/javascript" th:src="@{/js/jquery-weui.js}"/>
		<link rel="stylesheet" th:href="@{/css/weui.css}"/>
		<link rel="stylesheet" th:href="@{/css/jquery-weui.css}"/>
	</head>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function(){
		$(document.body).pullToRefresh();
		$(document.body).on("pull-to-refresh", function() {
			window.location.reload();
		});
		$(document.body).infinite(10);
		var loading = false;  //状态标记
		var currentPage=1;
		$(document.body).infinite().on("infinite", function() {
		  if(loading) return;
		  loading = true;
		  loadQuestions();  
		});
		
		function loadQuestions(){
			$.ajax({
				url: [[@{/wechat/question/loadQuestions}]],
				type:"POST",
				data:{
					"currentPage": currentPage,
				},
				error:function(e){
					alert(e);
				},
				success:function(result){
					currentPage++;
					if(result && result.length>0){
						$.each(result,function(index,question){
							var fragment='<div class="weui_panel_bd" onclick="question(\''+question.id+'\')">'+
									'<div class="weui_media_box weui_media_text">'+
		                    		'<h4 class="weui_media_title">'+question.title+'</h4>'+
		                   			 '<p class="weui_media_desc">'+question.content+'</p>'+
		                    			'<ul class="weui_media_info">'+
		                      			'<li class="weui_media_info_meta">'+question.proposer.name+'</li>'+
		                       		'<li class="weui_media_info_meta">'+new Date(question.createTime).format("yyyy-MM-dd hh:mm:ss")+'</li>'+
		                        	'<li class="weui_media_info_meta weui_media_info_meta_extra">其它信息</li></div></div>';
		                      $(".weui_panel").append(fragment);	
						});
						loading = false;
					}
				}
			});
		}
	});
	function question(questionId){
		location.href=[[@{/wechat/question?questionId=}]]+questionId;
	}
	/*]]>*/
	</script>
	<body>
		<div class="weui-pull-to-refresh-layer">
		    <div class="pull-to-refresh-arrow"></div> <!-- 上下拉动的时候显示的箭头 -->
		    <div class="pull-to-refresh-preloader"></div> <!-- 正在刷新的菊花 -->
		    <div class="down">下拉刷新</div><!-- 下拉过程显示的文案 -->
		    <div class="up">释放刷新</div><!-- 下拉超过50px显示的文案 -->
		    <div class="refresh">正在刷新...</div><!-- 正在刷新时显示的文案 -->
	  	</div>
		<div class="weui_panel">
            <div class="weui_panel_bd" th:each="question:${questions}" th:attr="onclick='question(\''+${question.id}+'\')'">
                <div class="weui_media_box weui_media_text">
                    <h4 class="weui_media_title" th:text="${question.title}"></h4>
                    <p class="weui_media_desc" th:text="${question.content}"></p>
                    <ul class="weui_media_info">
                        <li class="weui_media_info_meta" th:text="${question.proposer.name}"></li>
                        <li class="weui_media_info_meta" th:text="${#calendars.format(question.createTime,'yyyy-MM-dd HH:mm:ss')}"></li>
                        <li class="weui_media_info_meta weui_media_info_meta_extra">其它信息</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="weui-infinite-scroll" style="visibility:hidden">
		  <div class="infinite-preloader"></div>
		 	正在加载... 
		</div>
	</body>
</html>
