<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" th:src="@{/js/angular.min.js}"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<link rel="stylesheet" th:href="@{/css/weui.css}"/>
	</head>
	<body>
		<div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd" th:text="${question.title}"></div>
            <div class="weui_panel_bd">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
						<img class="weui_media_appmsg_thumb" th:src="${question.proposer.imageUrl}" height="60" width="60"/>
					</div>
                    <div class="weui_media_bd">
                        <p class="weui_media_desc" th:text="${question.content}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="weui_panel weui_panel_access">
            <div class="weui_panel_hd">共有几个答案</div>
            <div class="weui_panel_bd">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" th:each="answer : ${question.answers}">
                    <div class="weui_media_hd">
                        <img class="weui_media_appmsg_thumb" th:src="${answer.answerer.imageUrl}" height="60" width="60"/>
                    </div>
                    <div class="weui_media_bd">
                        <p class="weui_media_desc" th:text="${answer.content}"></p>
                        <p class="weui_media_desc" >有用[10],无用[2]</p>
                    </div>
                </a>
            </div>
        </div>
	</body>
</html>
