<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=0" />
<title>我的礼物</title>
</head>
<style th:inline="javascript">
* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: myfont;
	src: url([[@{/font/myfont.ttf}]]);
}

html, body {
	height: 100%;
	background: url([[@{/img/birthday/gift-flower.jpg}]]) no-repeat left top;
	background-size: 100% 100%;
}

body {
	font-family: myfont;
	TEXT-ALIGN: center;
	font-size: 18px;
}

img {
	display: block;
}

.message{
	text-align: center;
	position: absolute;
	top:35%;
	font-size: 36px;
	color: #B988A5;
	font-weight: bold;
}
</style>
<body>
	<div class="message" th:inline="text">有[[${count}]]位小伙伴送花给您, 本周我们将为您送上一束鲜花哟!</div>
</body>
</html>
