<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<link rel="stylesheet" th:href="@{/birthday/css/style.css}"/>
		<style type="text/css" th:inline="javascript">

		</style>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function sendBirthdayWish(birthdayWishId, ele, type){
			$.ajax({
				url:[[@{/wechat/birthday/sendWish}]],
				type: "POST",
				data:{
					"type": type,
					"birthdayWishId": birthdayWishId
				},
				dataType:"json",
				success: function(data){
					showToast();

				}
			})
		}
		
		function sendBirthdayWishWord(birthdayWishId, word, gift){
			$.ajax({
				url:[[@{/wechat/birthday/wish/send}]],
				type: "POST",
				data:{
					"word": word,
					"gifts": gift, //可以传数组 aaa,bbb,ccc
					"birthdayWishId": birthdayWishId
				},
				dataType:"json",
				success: function(data){
					if(data.success){
                        showSuccessToast("发送成功");
					} else {
					    if(data.message=='AlreadySendWish'){
                            showErrorToast("你已经发送过祝福！");
						} else {
                        	showErrorToast("发送失败");
                        	return;
						}
					}
					var $ele = $("li[data-wish-id='"+birthdayWishId+"']");
                	$ele.find(".btnSend").hide();
                	$ele.find(".content").attr("readonly","readonly").attr("disabled","disabled")
                	$ele.find(".btnComment").text("祝福已送出")
                	$ele.addClass('alreadySend')
					$.each(data.data.giftCounts, function(i,e){
						$ele.find(".icon-icon-"+i).text(e);
					})
					$ele.find(".btnComment").click();
				}
			})
		}

        function showToast(config) {
		    config = $.extend(true, {
				success: true,
				message: "操作成功",
				delay: 1500
			}, config);
            var $toast = $('<div class="toast '+(config.success?'success':'failed')+'" style="position: fixed">'+config.message+'</div>');
            $toast.appendTo($("body"));
            $toast.show();
            setTimeout(function () {
                $toast.hide();
            }, config.delay);
        }

        function showSuccessToast(message) {
            if (!message) message = "操作成功";
            showToast({message: message});
        }

        function showErrorToast(message) {
            if (!message) message = "操作失败";
            showToast({success: false, message: message});
        }
		
		$(document).ready(function(){
            /*	hide arrow when scroll */
            $(window).scroll(function(){
                if ($(window).scrollTop() > 0) {
                    $(".arrow").fadeOut();
                } else {
                    $(".arrow").fadeIn();
                }
            });

            /* toggle btnGift */
            $(".btnGift span").click(function() {
                if($(this).hasClass("active")){
                    $(this).removeClass("active");
                } else {
                    $(this).addClass("active").siblings().removeClass("active");
                }

            });

            /* toggle btnComment */
            $(".btnComment").click(function() {
                if($(this).hasClass("disabled")){
                    $(this).removeClass("disabled").next(".widgetComment").fadeOut();
                } else {
                    $(this).addClass("disabled").next(".widgetComment").fadeIn();;
                }

            });

			$("a.send_wish").click(function(){
				var form = $(this).siblings(".wish_form");
				if(form[0]){
					form.toggle();
				} else {
					showErrorToast("你已送过祝福！");
				}
			});

			$("button.btnSend").click(function(){
                var parent = $(this).parents("li")
				var content = parent.find("textarea[name='content']").val();
				var $gifts = parent.find(".btnGift span.active");
				if($gifts[0]==null){
					showErrorToast("请选择礼物");
					return;
				}
                if(content.length>40){
                    showErrorToast("内容字数不能超过40");
                    return false;
                }
			    var birthdayWishId = parent.data("wish-id");
			    var gift = $gifts.first().data("gift");
			    sendBirthdayWishWord(birthdayWishId, content, gift);
			});
		});
		/*]]>*/
		</script>
	</head>
	<body>
	<header>
		<img th:src="@{/birthday/images/month/{month}.png(month=${month})}"/>
	</header>
	<div class="main">
		<div class="title" th:text="${month+'月寿星'}">寿星</div>
		<div class="list"><span th:each="birthdayWish : ${birthdayWishes}" th:text="${birthdayWish.user.name} ">寿星名字</span></div>
	</div>
	<ul class="details">
		<li th:each="birthdayWish : ${birthdayWishes}" th:attr="data-wish-id=${birthdayWish.id}" th:classappend="${#maps.containsKey(myBirthdayWishWords, birthdayWish.id)} ? alreadySend : none">
			<div class="portrait">
				<img th:src="${birthdayWish.user.imageUrl}"/>
				<div class="info">
					<h1 th:text="${birthdayWish.user.name + ' ' + birthdayWish.user.englishName}">姓名</h1>
					<h2 th:text="${birthdayWish.user.department}">部门</h2>
				</div>
			</div>
			<div class="giftList">
				<span class="icon-icon-cake" th:text="${birthdayWish.giftCounts.getOrDefault('cake',0)}">0</span>
				<span class="icon-icon-bag" th:text="${birthdayWish.giftCounts.getOrDefault('bag',0)}">0</span>
				<span class="icon-icon-kiss" th:text="${birthdayWish.giftCounts.getOrDefault('kiss',0)}">0</span>
			</div>
			<button class="btnComment icon-icon-heart" th:unless="${#maps.containsKey(myBirthdayWishWords, birthdayWish.id) || birthdayWish.user.userId == userId}">我要送祝福</button>
			<button class="btnComment icon-icon-heart" th:if="${#maps.containsKey(myBirthdayWishWords, birthdayWish.id)}">祝福已送出</button>
			<div class="widgetComment" >
				<textarea placeholder="送出你的祝福（限40个字以内）…" name="content" maxlength="40" class="content" th:readonly="${#maps.containsKey(myBirthdayWishWords, birthdayWish.id)}" th:disabled="${#maps.containsKey(myBirthdayWishWords, birthdayWish.id)}" th:text="${myBirthdayWishWords[birthdayWish.id]?.content}"></textarea>
				<div class="btnGift">
					<span class="icon-icon-cake" data-gift="cake" th:classappend="${birthdayWish.containsGift(myBirthdayWishWords, 'cake')} ? active : none"></span>
					<span class="icon-icon-bag" data-gift="bag" th:classappend="${birthdayWish.containsGift(myBirthdayWishWords, 'bag')} ? active : none"></span>
					<span class="icon-icon-kiss" data-gift="kiss" th:classappend="${birthdayWish.containsGift(myBirthdayWishWords, 'kiss')} ? active : none"></span>
				</div>
				<button class="btnSend" th:unless="${#maps.containsKey(myBirthdayWishWords, birthdayWish.id) || birthdayWish.user.userId == userId}">立即送出</button>
			</div>
		</li>
	</ul>
	<div class="arrow"></div>
	</body>
</html>
