<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<link rel="stylesheet" th:href="@{/css/weui.css}"/>
		<style type="text/css" th:inline="javascript">
			a.send_wish { 
				cursor: pointer;
				color: blue;
			}
			.background{
				background: url([[@{/img/birthday/wish-list-2.png}]]);
				background-size: 100%;
				background-repeat: repeat-y;
			}
			.weui_panel{
				background-color:transparent;
			}
			body{
				font-family:"microsoft yahei";
			}
		</style>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function sendBirthdayWish(birthdayWishId, ele, type){
			$.ajax({
				url:[[@{/wechat/birthday/sendWish}]],
				type: "POST",
				data:{
					"type": type,
					"birthdayWishId": birthdayWishId
				},
				dataType:"json",
				success: function(data){
					showToast();
					$(ele).siblings("span.flower").text("["+data.flowerCounts+"]");
					$(ele).siblings("span.cake").text("["+data.cakeCounts+"]");
					$(ele).siblings("span.firework").text("["+data.fireworkCounts+"]");
				}
			})
		}
		
		function sendBirthdayWishWord(birthdayWishId, word){
			$.ajax({
				url:[[@{/wechat/birthday/sendWish}]],
				type: "POST",
				data:{
					"word": word,
					"birthdayWishId": birthdayWishId
				},
				dataType:"json",
				success: function(data){
					showToast();
					//$("#"+birthdayWishId).hide();
					//$("#"+birthdayWishId).find(":input[name='content']").val("");
					$("#"+birthdayWishId).siblings("span").find("span.wisherCounts").text(data.wisherCounts);
					$("#"+birthdayWishId).remove();
				}
			})
		}
		function toUserProfilePage(userId){
			window.location.href = [[@{/wechat/expert/user}]] + "?userId=" + userId;
		}
		function sendFlowerWish(birthdayWishId, ele){
			sendBirthdayWish(birthdayWishId, ele, "flower")
		}
		function sendCakeWish(birthdayWishId, ele){
			sendBirthdayWish(birthdayWishId, ele, "cake")
		}
		function sendFireworkWish(birthdayWishId, ele){
			sendBirthdayWish(birthdayWishId, ele, "firework")
		}
		function showToast() {
            var $toast = $('#toast');
			if ($toast.css('display') != 'none') {
				return;
			}
			$toast.show();
			setTimeout(function () {
				$toast.hide();
			}, 1500);
        }
		function showLoadingToast() {
            var $loadingToast = $('#loadingToast');
            if ($loadingToast.css('display') != 'none') {
                return;
            }

            $loadingToast.show();
            /*setTimeout(function () {
                $loadingToast.hide();
            }, 2000);*/
        }
		function showDialog(content){
			var $dialog = $('#dialog');
            $dialog.show();
            $dialog.find(".weui_dialog_bd").html(content);
            $dialog.find('.weui_btn_dialog').one('click', function () {
                $dialog.hide();
            });
	    }
		
		$(document).ready(function(){
			$("a.send_wish").click(function(){
				var form = $(this).siblings(".wish_form");
				if(form[0]){
					form.toggle();
				} else {
					showDialog("你已送过祝福！");
				}
			});
			$("button.send_wish").click(function(){
				var form = $(this).parents("form");
				var content = form.find(":input[name='content']").val();
				
				if(!content){
			    	showDialog("内容不能为空");
			    	return;
			    }
			    if(content.length>200){
			    	showDialog("内容字数超过200");
			    	return;
			    }
			    var birthdayWishId = form.attr("id");
			    sendBirthdayWishWord(birthdayWishId, content);
			});
		});
		/*]]>*/
		</script>
	</head>
<body >
    <img th:src="@{/img/birthday/wish-list-1.png}" style="width:100%;display: block;" />
<div class="background">
	<div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title" style="font-weight:bold;color:#9c296d">各位德比小伙伴：</h4>
                <p class="weui_media_desc" style="font-weight:bold;font-size:20px;color:#9c296d
;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="${month+'月'}"></span>就要来临，快来为<span th:text="${month+'月'}"></span>的寿星们送礼，送祝福吧！</p>
            </div>
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title" style="font-weight:bold;color:#79328b"><span th:text="${month+'月'}"></span>寿星：</h4>
                <p class="weui_media_desc" style="font-weight:bold;font-size:20px;color:#79328b"><span style="margin-right:10px;" th:each="birthdayWish : ${birthdayWishes}" th:text="${birthdayWish.user.name} "></span></p>
            </div>
        </div>
    </div>
    
    <div class="weui_panel weui_panel_access" th:each="birthdayWish : ${birthdayWishes}">
        <!-- <div class="weui_panel_hd">送祝福啦！</div> -->
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title" th:text="${birthdayWish.user.name + ' [' +birthdayWish.user.department + ']'}" style="font-weight:bold;color:#291c8d">张三（部门）</h4>
                <p class="weui_media_desc">
                	<ul class="weui_media_info" style="vertical-align: middle;">
	                     <li class="weui_media_info_meta" >
	                     	<img class="weui_media_appmsg_thumb agree_answer" th:onclick="'sendFlowerWish(\''+${birthdayWish.id}+'\',this)'" th:src="@{/img/birthday/flower.png}" height="20" width="20"/>
	                     	<span class="flower" style="vertical-align:middle;margin-right:15px;color:black;" th:text="${'['+birthdayWish.sendFlowerUserIds.size()+']'}">[100]</span>
	                     	<img class="weui_media_appmsg_thumb agree_answer" th:onclick="'sendCakeWish(\''+${birthdayWish.id}+'\',this)'" th:src="@{/img/birthday/cake.png}" height="20" width="20"/>
	                     	<span class="cake" style="vertical-align:middle;margin-right:15px;color:black;" th:text="${'['+birthdayWish.sendCakeUserIds.size()+']'}">[100]</span>
	                     	<img class="weui_media_appmsg_thumb agree_answer" th:onclick="'sendFireworkWish(\''+${birthdayWish.id}+'\',this)'" th:src="@{/img/birthday/gift.png}" height="20" width="20"/>
	                     	<span class="firework" style="vertical-align:middle;margin-right:15px;color:black;" th:text="${'['+birthdayWish.sendFireworkUserIds.size()+']'}">[100]</span>
	                     </li>
	                 </ul>
                </p>
            </div>
            <div class="weui_media_box weui_media_text">
                 <span style="color:#64605e">已有[<span class="wisherCounts" th:text="${birthdayWish.birthdayWishWords.size()}"></span>]人送出了祝福</span>，<a class="send_wish" style="font-weight:bold;color:#2615a5">我也要说2句</a><br/>
                 <form class="wish_form" style="display: none;" th:id="${birthdayWish.id}" th:if="${!#lists.contains(birthdayWish.getSendWishWordUserIds(), userId)}">
					<div class="weui_cells weui_cells_form">
							<div class="weui_cell">
								<div class="weui_cell_bd weui_cell_primary" >
									<textarea class="weui_textarea" placeholder="请输入祝福" rows="4" id="content" name="content"></textarea>
									<div class="weui_textarea_counter"><span>0</span>/200</div>
								</div>
							</div>
					</div>
					<div class="weui_btn_area">
						<button type="button" class="weui_btn weui_btn_primary send_wish">提交祝福</button>	
			        </div>
				</form>
             </div>
        </div>
    </div>
    <div class="weui_dialog_alert" id="dialog" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提醒</strong></div>
            <div class="weui_dialog_bd"></div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
    <div id="toast" style="display: none;">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
			<i class="weui_icon_toast"></i>
			<p class="weui_toast_content">操作完成</p>
		</div>
	</div>
</div>	
</body>
</html>
