<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
		<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"/>
		<link rel="stylesheet" th:href="@{/birthday/css/style.css}"/>
		<style type="text/css" th:inline="javascript">

		</style>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function sendBirthdayWish(birthdayWishId, ele, type){
			$.ajax({
				url:[[@{/wechat/birthday/sendWish}]],
				type: "POST",
				data:{
					"type": type,
					"birthdayWishId": birthdayWishId
				},
				dataType:"json",
				success: function(data){
					showToast();
					$(ele).siblings("span.flower").text("["+data.flowerCounts+"]");
					$(ele).siblings("span.cake").text("["+data.cakeCounts+"]");
					$(ele).siblings("span.firework").text("["+data.fireworkCounts+"]");
				}
			})
		}
		
		function sendBirthdayWishWord(birthdayWishId, word){
			$.ajax({
				url:[[@{/wechat/birthday/sendWish}]],
				type: "POST",
				data:{
					"word": word,
					"birthdayWishId": birthdayWishId
				},
				dataType:"json",
				success: function(data){
					showToast();
					//$("#"+birthdayWishId).hide();
					//$("#"+birthdayWishId).find(":input[name='content']").val("");
					$("#"+birthdayWishId).siblings("span").find("span.wisherCounts").text(data.wisherCounts);
					$("#"+birthdayWishId).remove();
				}
			})
		}
		function toUserProfilePage(userId){
			window.location.href = [[@{/wechat/expert/user}]] + "?userId=" + userId;
		}
		function sendFlowerWish(birthdayWishId, ele){
			sendBirthdayWish(birthdayWishId, ele, "flower")
		}
		function sendCakeWish(birthdayWishId, ele){
			sendBirthdayWish(birthdayWishId, ele, "cake")
		}
		function sendFireworkWish(birthdayWishId, ele){
			sendBirthdayWish(birthdayWishId, ele, "firework")
		}
		function showToast() {
            var $toast = $('#toast');
			if ($toast.css('display') != 'none') {
				return;
			}
			$toast.show();
			setTimeout(function () {
				$toast.hide();
			}, 1500);
        }
		function showLoadingToast() {
            var $loadingToast = $('#loadingToast');
            if ($loadingToast.css('display') != 'none') {
                return;
            }

            $loadingToast.show();
            /*setTimeout(function () {
                $loadingToast.hide();
            }, 2000);*/
        }
		function showDialog(content){
			var $dialog = $('#dialog');
            $dialog.show();
            $dialog.find(".weui_dialog_bd").html(content);
            $dialog.find('.weui_btn_dialog').one('click', function () {
                $dialog.hide();
            });
	    }
		
		$(document).ready(function(){
            /*	hide arrow when scroll */
            $(window).scroll(function(){
                if ($(window).scrollTop() > 0) {
                    $(".arrow").fadeOut();
                } else {
                    $(".arrow").fadeIn();
                }
            });

            /* toggle btnGift */
            $(".btnGift span").click(function() {
                if($(this).hasClass("active")){
                    $(this).removeClass("active");
                } else {
                    $(this).addClass("active").siblings().removeClass("active");
                }

            });

            /* toggle btnComment */
            $(".btnComment").click(function() {
                if($(this).hasClass("disabled")){
                    $(this).removeClass("disabled").next(".widgetComment").fadeOut();
                } else {
                    $(this).addClass("disabled").next(".widgetComment").fadeIn();;
                }

            });

			$("a.send_wish").click(function(){
				var form = $(this).siblings(".wish_form");
				if(form[0]){
					form.toggle();
				} else {
					showDialog("你已送过祝福！");
				}
			});
			$("button.send_wish").click(function(){
				var form = $(this).parents("form");
				var content = form.find(":input[name='content']").val();
				
				if(!content){
			    	showDialog("内容不能为空");
			    	return;
			    }
			    if(content.length>200){
			    	showDialog("内容字数超过200");
			    	return;
			    }
			    var birthdayWishId = form.attr("id");
			    sendBirthdayWishWord(birthdayWishId, content);
			});
		});
		/*]]>*/
		</script>
	</head>
	<body>

	<div class="toast success">发送成功</div>
	<div class="toast failed">发送失败</div>

	<header>
		<img th:src="@{/birthday/images/banner.png}" src=""/>
		<div class="month">1</div>
	</header>
	<div class="main">
		<div class="title" th:text="${month+'月寿星'}">寿星</div>
		<div class="list">
			<span th:each="birthdayWish : ${birthdayWishes}" th:text="${birthdayWish.user.name} ">寿星名字</span>
		</div>
	</div>
	<ul class="details">
		<li th:each="birthdayWish : ${birthdayWishes}">
			<div class="portrait">
				<img th:src="${birthdayWish.user.imageUrl}"/>
				<div class="info">
					<h1 th:text="${birthdayWish.user.name}">姓名</h1>
					<h2 th:text="${birthdayWish.user.department}">部门</h2>
				</div>
			</div>
			<div class="giftList">
				<span class="icon-icon-cake" th:text="${birthdayWish.giftCounts.get('cake')}">0</span>
				<span class="icon-icon-bag" th:text="${birthdayWish.giftCounts.get('bag')}">0</span>
				<span class="icon-icon-kiss" th:text="${birthdayWish.giftCounts.get('kiss')}">0</span>
			</div>
			<button class="btnComment icon-icon-heart">我要送祝福</button>
			<div class="widgetComment">
				<textarea placeholder="送出你的祝福（限20个字以内）…"></textarea>
				<div class="btnGift">
					<span class="icon-icon-cake"></span>
					<span class="icon-icon-bag"></span>
					<span class="icon-icon-kiss"></span>
				</div>
				<button class="btnSend">立即送出</button>
			</div>
		</li>
	</ul>
	<div class="arrow"></div>
	</body>
</html>
